.previewer {
    position: fixed;
    width: 250px;
    height: 100vh;
    padding: 0 20px;
    background: var(--color-bg-2);
    border-left: 1px solid var(--color-border-grey);
    z-index: 10;
    right: 0;
    transition: 0.3s;
}

.toggle-btn {
    padding: 0.4rem 0.8rem;
    margin: 0.4rem 0.8rem;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 10px;
    color: var(--color-text-grey);
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid var(--color-text-dark);
    backdrop-filter: blur(10px);
}

.previewer.close {
    width: 0px;
    padding: 0;
}

.previewer .toggle-btn {
    position: relative;
    left: -40px;
}

.previewer-title {
    font-size: 1.2rem;
    color: var(--color-text-dark);
    font-weight: bold;
}

.previewer-guide {
    font-style: italic;
    color: var(--color-text-grey);
    margin: 20px 0;
}