.previewer {
    position: fixed;
    width: 250px;
    height: 100vh;
    background: var(--color-bg-2);
    border-left: 1px solid var(--color-border-grey);
    z-index: 10;
    right: 0;
    transition: 0.3s;
}

.toggle-btn {
    padding: 0.4rem 0.8rem;
    margin: 0.4rem 0.8rem;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 10px;
    color: var(--color-text-grey);
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid var(--color-text-dark);
    backdrop-filter: blur(10px);
}

.previewer.close {
    width: 0px;
}

.previewer .toggle-btn {
    position: relative;
}

.previewer.close .toggle-btn {
    left: -40px;
}

.previewer-content {
    padding: 0.8rem;
    font-size: 0.8rem;
    color: var(--color-text-grey);
    overflow: auto;
    height: calc(100vh - 60px);
}
