.home {
    background: var(--color-bg-2);
}

/* Navbar */

.home-navbar {
    width: 100vw;
    height: 80px;
    background: var(--color-bg-1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 45px;
    border-radius: 8px;
    margin-right: 10px;
}

.logo-container span {
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-right {
    display: flex;
    gap: 20px;
}

.navbar-right-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.navbar-right-links li a {
    color: var(--color-text-grey);
    transition: 0.3s;
    font-weight: 600;
}

.navbar-right-links li a:hover {
    color: var(--color-accent-1);
}

.navbar-right-btn a {
    padding: 0.8rem 1.6rem;
    border-radius: 10px;
    background: var(--color-bg-dark);
    color: var(--color-bg-1);
    font-weight: 700;
    outline: 2px solid var(--color-bg-dark);
    transition: 0.3s;
}

.navbar-right-btn a:hover {
    background: var(--color-bg-1);
    color: var(--color-text-dark);
}

/* Hero */

.home-hero {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 4rem 4rem 4rem;
    align-items: center;
    gap: 30px;
}

.home-hero-title {
    font-size: 5rem;
    text-align: center;
    font-weight: 900;
}

.home-hero-subtitle {
    text-align: center;
    font-size: 1.5rem;
    width: 900px;
    color: var(--color-text-grey);
    font-weight: 500;
}

.home-hero-btns a {
    padding: 1.2rem 2.4rem;
    border-radius: 18px;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0 5px;
}

.home-hero-btns a.blue {
    /* background: var(--color-accent-1); */
    background: linear-gradient(37deg, var(--color-accent-1), var(--color-accent-2));
    color: white;
    box-shadow: 0 8px 20px var(--color-accent-1-light);
}

.home-hero-btns a.light {
    background: var(--color-bg-1);
    color: var(--color-text-dark);
    border: 1px solid var(--color-border-grey);
}

/* Node Info */

.home-node-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 100px;
    background: var(--color-bg-1);
}

.home-node-info-left {
    padding: 50px;
}

.home-node-info-left-title {
    font-size: 2.5rem;
}

.home-node-info-left-title .special {
    color: var(--color-accent-1);
    font-weight: bolder;
}

.home-node-info-part {
    display: flex;
    gap: 30px;
    margin: 30px 0;
}

.home-node-info-check-icon {
    background: var(--color-accent-1);
    padding: 10px;
    border-radius: 12px;
    color: white;
    font-size: 2rem;
    box-shadow: 0 0px 10px 0 lightgrey;
}

.home-node-info-content {
    width: 500px;
    color: var(--color-text-grey);
}

.home-node-info-content-title {
    color: var(--color-text-dark);
    font-weight: bold;
    font-size: 1.4rem;
}

.home-node-info-right {
    padding: 100px;
}

.home-node-info-right-flow {
    background: var(--color-bg-2);
    /* border: 1px solid var(--color-border-grey); */
    padding: 20px;
    border-radius: 50px;
    box-shadow: 10px 10px 20px 0 var(--color-shadow-1),
                inset 10px 10px 20px 0 var(--color-shadow-1);
}

.home-node-info-right-flow .line {
    height: 60px;
    width: 0;
    border: 1px dashed var(--color-accent-2);
    margin-left: 60px;
}

.home-node-info-flow-node {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    gap: 30px;
    width: 250px;
    height: 80px;
    border-radius: 15px;
    background: var(--color-accent-1);
    margin: 10px 20px;
    color: var(--color-bg-1);
    font-weight: bold;
    box-shadow: 0 10px 20px 0 lightgrey;
}

.home-node-info-flow-icon {
    font-size: 1.5rem;
}