.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    z-index: 10;
    transition: 0.3s;
    background: var(--color-bg-2);
    border-right: 1px solid var(--color-border-grey);
    overflow: hidden;
}

.sidebar.close {
    width: 60px;
}

.sidebar .toggle-btn {
    position: relative;
}

.sidebar.close .toggle-btn {
    right: -40px; 
}

.sidebar-logo {
    padding: 1.5rem;
    border-bottom: 1px solid var(--color-border-grey);
}

.sidebar-contents {
    padding: 1.2rem;
}

.sidebar-part {
    margin-bottom: 2rem;
}

.sidebar-part-title {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 0.7rem;
    color: var(--color-text-grey);
    text-transform: uppercase;
}

.sidebar-part-nodes {
    list-style-type: none;
}

.sidebar-part-node-item button {
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    width: 200px;
    color: var(--color-text-dark);
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid var(--color-border-grey);
}

.sidebar-part-node-item button:hover {
    background: var(--color-bg-3);
}

.sidebar-part-node-item button .icon {
    color: white;
    font-size: 1.3rem;
    background: linear-gradient(45deg, var(--color-accent-1), var(--color-accent-2));
    border-radius: 10px 0 0 10px;
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
}