<<<<<<< HEAD
.common-node-file-input {
=======
.inputnode {
}

.inputnode-file-input {
>>>>>>> 105a1b92e8841836cf971b7309f0fba1dffb7fa9
    display: none;
}

.inputnode-file-info {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-border-grey);
    border-radius: 10px;
    cursor: pointer;
}

<<<<<<< HEAD
=======
.inputnode-upload-icon {
    width: 50px;
    height: 50px;
    font-size: 1.7rem;
    display: grid;
    place-items: center;
    color: var(--color-text-grey);
    border-right: 1px solid var(--color-border-grey);
}

>>>>>>> 105a1b92e8841836cf971b7309f0fba1dffb7fa9
.inputnode-upload-text {
    padding: 0 10px;
    color: var(--color-text-grey);
}

.inputnode:hover .inputnode-upload-icon,
.inputnode:hover .inputnode-upload-text {
    color: var(--color-text-dark);
}

.inputnode-file-details {
    display: flex;
    width: 250px;
    justify-content: space-between;
    height: 50px;
    border: 1px solid var(--color-border-grey);
    border-radius: 10px;
    overflow: hidden;
}

.inputnode-file-name {
    width: 150px;
    padding: 0 10px;
    display: grid;
    place-items: center;
<<<<<<< HEAD
=======
}

.inputnode-file-delete {
    display: grid;
    place-items: center;
    outline: none;
    border: none;
    width: 50px;
    border-left: 1px solid var(--color-border-grey);
    background: var(--color-bg-1);
}

.inputnode-file-delete:hover {
    background: var(--color-bg-2);
    cursor: pointer;
>>>>>>> 105a1b92e8841836cf971b7309f0fba1dffb7fa9
}