.transformnode-body {
    height: 440px;
    transition: 0.3s;
}

.transformnode-body.close {
    height: 100px;
    overflow: hidden;
}

.transformnode-body-toggle-btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 1px 10px;
    display: grid;
    place-items: center;
    background: var(--color-accent-1);
    border: none;
    outline: none;
    color: var(--color-bg-1);
    font-size: 1.4rem;
    border-radius: 10px;
}